Click <a href='https://www.dataquest.io/blog/web-scraping-tutorial-python/'>here</a> to learn about Regular Expressions (RegEx) using Python.

In [2]:
if cleansed_phone != "" and len(cleansed_phone) != 10:
    raise ValueError("Invalid phone number!")
elif len(cleansed_phone) < 10:

SyntaxError: unexpected EOF while parsing (<ipython-input-2-75729ad6deae>, line 4)

In [3]:
########################
# DO NOT RUN THIS CELL #
########################

a, X, 9, < -- ordinary characters just match themselves exactly.
. (a period) -- matches any single character except newline '\n'
\w -- matches a "word" character: a letter or digit or underbar [a-zA-Z0-9_].
\W -- matches any non-word character.
\b -- matches word boundary (in between a word character and a non word character)
\s -- matches a single whitespace character -- space, newline, return, tab
\S -- matches any non-whitespace character.
\t, \n, \r -- tab, newline, return
\d -- matches any numeric digit [0-9]
\D matches any non-numeric character.
^ -- matches the beginning of the string, or specify omition of certain characters
$ -- matches the end of the string
\ -- escapes special character.
(x|y|z) matches exactly one of x, y or z.
(x) in general is a remembered group. We can get the value of what matched by using the groups() method of the object returned by re.search.
x? matches an optional x character (in other words, it matches an x zero or one times).
x* matches x zero or more times.
x+ matches x one or more times.
x{m,n} matches an x character at least m times, but not more than n times.
?: matches an expression but do not capture it. Non capturing group.
?= matches a suffix but exclude it from capture. Positive lookahead.
a(?=b) will match the "a" in "ab", but not the "a" in "ac"
In other words, a(?=b) matches the "a" which is followed by the string 'b', without consuming what follows the a.
?! matches if suffix is absent. Negative look ahead.
a(?!b) will match the "a" in "ac", but not the "a" in "ab"
?<= positive look behind
[] matches for groupings of consecutive characters
?<! negative look behind

########################
# DO NOT RUN THIS CELL #
########################

SyntaxError: invalid syntax (<ipython-input-3-70bfe20273b0>, line 5)

What are word boundaries?
--------------------------------------------------
Before the first character in the string, if the first character is a word character.<br>
After the last character in the string, if the last character is a word character.<br>
Between two characters in the string, where one is a word character and the other is not a word character<br>

In [4]:
import re
file = open('./names.txt', encoding='utf-8')
data = file.read()
file.close()

In [5]:
# .match() - Checks for specific strings starting from the beginning of a string
re.match(r'Hawkins', data)

In [6]:
re.match(r'Hawkins, Derek', data)

In [7]:
re.match(r'Milliken', data) #NOTHING RETURNED

In [8]:
# .search() - Looks for FIRST matching string anywhere in the searchable text string
re.search(r'Johnson', data)

In [9]:
re.search(r'\w, \w', data)

In [10]:
re.search(r'\w\w\w\w\w\w\w, \w\w\w\w\w', data)

In [11]:
re.search(r'\(\d\d\d\) \d\d\d\-\d\d\d\d', data)

In [12]:
"Nate's Sentence"

"Nate's Sentence"

<strong>Exercise 1</strong>:<br>
Write a function that checks for n number of consecutive digits

In [13]:
def search_num(n, search_text):
    return re.search('\d'*n, search_text)

search_num(7,'1123582afsc14135z')

In [14]:
# find(4, data) => <re.Match object; span=(XX, XX), match='5555'>

In [15]:
phone_number = "(555) 555-5555"
re.search(r'\(\d{3}\) \d{3}\-\d{4}', phone_number)

In [16]:
# .findall() - Looks for matching string anywhere in the searchable text string and stores each instance into a list
phone_numbers = "555-555-5555 (555) 5555555 555 555-5555 nate derek (555)555-5555 ripal (555) 555-5555"

re.findall(r'\(\d{3}\) \d{3}\-\d{4}', phone_numbers)

['(555) 555-5555']

In [17]:
re.findall(r'\(?\d{3}\)?\s?-?\d{3}-?\d{4}', phone_numbers)

['555-555-5555',
 '(555) 5555555',
 '555 555-5555',
 '(555)555-5555',
 '(555) 555-5555']

In [18]:
names = "Hawkins, Derek Welter, Nate Patel, Ripal Davitt, Sam"

re.findall(r'\w+, \w+', names)

['Hawkins, Derek', 'Welter, Nate', 'Patel, Ripal', 'Davitt, Sam']

In [19]:
emails = "dere'k@codingtemple.com natew@codingtemple.com Ripal.123@codingtemple.edu nate123@usa.co.com news@co.uk"

re.findall(r'[\'-+.\d\w]+@[-.\w\d]+', emails)

["dere'k@codingtemple.com",
 'natew@codingtemple.com',
 'Ripal.123@codingtemple.edu',
 'nate123@usa.co.com',
 'news@co.uk']

In [20]:
emails2 = "a.tsang@uic.edu adams@uic.edu misa.ha@gmail.comad.sfasdfasd.f"

re.findall(r'[.\d\w]+@[.\w\d]+', emails2)

['a.tsang@uic.edu', 'adams@uic.edu', 'misa.ha@gmail.comad.sfasdfasd.f']

In [21]:
data

'Hawkins, Derek\tderek@codingtemple.com\t(555) 555-5555\tTeacher, Coding Temple\t@derekhawkins\nZhai, Mo\tmozhai@codingtemple.com\t(555) 555-5554\tTeacher, Coding Temple\nJohnson, Joe\tjoejohnson@codingtemple.com\t\tJohson, Joe\nOsterberg, Sven-Erik\tgovernor@norrbotten.co.se\t\tGovernor, Norrbotten\t@sverik\n, Tim\ttim@killerrabbit.com\t\tEnchanter, Killer Rabbit Cave\nButz, Ryan\tryanb@codingtemple.com\t(555) 555-5543\tCEO, Coding Temple\t@ryanbutz\nDoctor, The\tdoctor+companion@tardis.co.uk\t\tTime Lord, Gallifrey\nExampleson, Example\tme@example.com\t555-555-5552\tExample, Example Co.\t@example\nPael, Ripal\tripalp@codingtemple.com\t(555) 555-5553\tTeacher, Coding Temple\t@ripalp\nVader, Darth\tdarth-vader@empire.gov\t(555) 555-4444\tSith Lord, Galactic Empire\t@darthvader\nFernandez de la Vega Sanz, Maria Teresa\tmtfvs@spain.gov\t\tFirst Deputy Prime Minister, Spanish Gov\n'

In [22]:
# re.VERBOSE/re.X - Allows multiline regular expressions
# re.IGNORECASE/re.I - Ignores casing

In [23]:
information = """
Patel, Ripal : ripalp@codingtemple.com : (555) 555-5555
Carter, Joel : joelc@cOdingtemple.com : (555)555-5555
Welter, Nate : natew@codingtemple.com : 555-555-5555
Davitt, Sam : samd@codingtemple.co.us : 555 555-5555
"""

re.findall(r"""
    @[-.\w\d]+ # @symbol, any number of characters/digits
""", information, re.X|re.I)

['@codingtemple.com',
 '@cOdingtemple.com',
 '@codingtemple.com',
 '@codingtemple.co.us']

In [24]:
re.findall(r"""
    [\w]+, # last name
    \s # space
    [\w]+ #first name any amount of word chars
    [^: ] # omits everything after colon
""", information, re.X)

['Patel, Ripal', 'Carter, Joel', 'Welter, Nate', 'Davitt, Sam']

In [25]:
info = re.findall(r"""
    ([\w]+,\s[\w]+) #last name first name
    (\s:\s[\'\-+.\w\d]+@[-.\w\d]+) #email address
    (\s:\s\(?\d{3}\)?\s?-?\d{3}-?\d{4}) #phone number
    
""", information, re.X|re.I)

info

[('Patel, Ripal', ' : ripalp@codingtemple.com', ' : (555) 555-5555'),
 ('Carter, Joel', ' : joelc@cOdingtemple.com', ' : (555)555-5555'),
 ('Welter, Nate', ' : natew@codingtemple.com', ' : 555-555-5555'),
 ('Davitt, Sam', ' : samd@codingtemple.co.us', ' : 555 555-5555')]

In [26]:
for i in info:
    print(i)

('Patel, Ripal', ' : ripalp@codingtemple.com', ' : (555) 555-5555')
('Carter, Joel', ' : joelc@cOdingtemple.com', ' : (555)555-5555')
('Welter, Nate', ' : natew@codingtemple.com', ' : 555-555-5555')
('Davitt, Sam', ' : samd@codingtemple.co.us', ' : 555 555-5555')

In [27]:
info = re.compile(r"""
    (?P<name>[\w]+,\s[\w]+) #last name first name
    (?P<email>\s:\s[\'\-+.\w\d]+@[-.\w\d]+) #email address
    (?P<phone>\s:\s\(?\d{3}\)?\s?-?\d{3}-?\d{4}) #phone number
    
""", re.X|re.I)

In [28]:
for i in info.finditer(information):
    print(f"Name: {i.group('name')}\nEmail: {i.group('email')[3:]}\nPhone:{i.group('phone')[3:]}\n")

Name: Patel, Ripal
Email: ripalp@codingtemple.com
Phone:(555) 555-5555

Name: Carter, Joel
Email: joelc@cOdingtemple.com
Phone:(555)555-5555

Name: Welter, Nate
Email: natew@codingtemple.com
Phone:555-555-5555

Name: Davitt, Sam
Email: samd@codingtemple.co.us
Phone:555 555-5555

In [29]:
# [
#     (First and last name,
#      email, 
#      phone,
#      title,
#      Twitter handle)
# ]

##### In-class exercise 1: 

Use a regular expression to find every number in the given string

In [30]:
def func(n, search_text):
    return re.search('\d'*n, search_text)

func(4, '1111332568655')

##### In-class Exercise 2:

Write a function using regular expressions to find the domain name in the given email addresses (and return None for the invalid email addresses)<br><b>HINT: Use '|' for either or</b>

In [31]:
my_emails = ["jordanw@codingtemple.orgcom", "pocohontas1776@gmail.com", "helloworld@aol..com", "yourfavoriteband@g6.org", "@codingtemple.com"]

### In-Class Exercise #3 <br>
<p>Print each persons name and twitter handle, using groups, should look like:</p>
<p>==============<br>
   Full Name / Twitter<br>
   ==============</p>
<p>Derek Hawkins / @derekhawkins<br>
Norrbotten Governor / @sverik<br>
Ryan Butz / @ryanbutz</p>
<p>etc.</p>

In [34]:
info = re.findall(r'''
   ([-\w ]+,\s[-\w ]+)\t # last name, first name
   ([-\w\d+.]+@[-\w\d+.]+)[\t]+ # email
   (\(?\d{3}\)?-?\s?\d{3}-\d{4})?\t? # phone number
   ([\w\s\d.,]*)?\n?\t? # occupation and company
   (@[\w\d]+)?$ # Twitter handle
''', data, re.X|re.I|re.M)

print('=' * 20)
print('Full Name / Twitter')
print('=' * 20)

for i in info:
    print(str(i[0]) + ' / ' + str(i[4]))

====================
Full Name / Twitter
====================
Hawkins, Derek / @derekhawkins
Zhai, Mo /
Johnson, Joe /
Osterberg, Sven-Erik / @sverik
Butz, Ryan / @ryanbutz
Doctor, The /
Exampleson, Example / @example
Pael, Ripal / @ripalp
Vader, Darth / @darthvader
Fernandez de la Vega Sanz, Maria Teresa /